target
work
.DS_Store

#ignore everything in the mvn directory but the wraper property file
.mvn
!.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.iws
*.ipr
.idea
out

.classpath
.project
.settings

demo/snapshot/plugins/

node
node_modules
generates-adjuncts